{% extends 'base/base.html' %}

{% block content %}
<main style="padding-top:20px; width: 1100px;">
      <section style=" margin-top:0px; padding:0px;  white-space:nowrap;">

        <div class="browse-all ">
            <h2>Add Song to Album "{{ album.albumName }}"</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Song</button>
    </form>
        </div>
      </section>

</main>

{% endblock content %}


